header {
    color: #515151;
    text-decoration: underline;
    text-decoration-color: #3a1b82;
    text-align: center;
    background-color: #fff;
}

body {
    animation: background-animation 2s forwards;
    font-family: serif;
    color: #454545;
    font-size: 16px;
    margin: 20px auto;
    min-width: 400px;
    max-width: 800px;
    padding: 10px;
    line-height: 1.4;
    text-align: justify;
}

@keyframes background-animation {
    from {background-color: #000;}
    to {background-color: #f0faf0;}
}

h3 {
    color: #484848;
    text-align: left;
    text-decoration: overline;
    text-indent: -3%;
}

yandex {
    color: #ff0000;
    text-decoration: line-through;
    text-decoration-color: #111;
}

.picture-container {
    display: flex;
    justify-content: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-style: solid;
    border-width: 30px;
    border-color: #2f4f4f;
    border-radius: 10px;
    height: 40%;
    width: 40%;
}


.emphasis {
    color: #8a2be2;
}

p {
    text-indent: 20px;
}

footer {
    color: #424242;
    text-align: right;
    opacity: 0.9;
    background: #dcf5dc;
    padding: 5%;
}