body {
    background-color: cornsilk;
}

.content {
    width: 800px;
    margin: auto;
}

.head {
    border-style: outset;
    border-color: gray;
    background-color: ghostwhite;
    border-width: 3px;
}

.h1-head {
    text-align: center;
    text-transform: uppercase;
    color: darkslategray;
    text-shadow: 3px 3px 3px gray;
}

.h2-text {
    text-align: center;
    color: darkslategray;
}

.quote {
    width: 300px;
    float: right;
    text-align: right;
    margin-right: 20px;
}

.my-time {
    font-family: Georgia, Georgia, serif;
}

.text {
    float: left;
}

.my-p {
    font-family: Arial, sans-serif;
    line-height: 30px;
}

.main-text {
    text-indent: 10px;
    font-size: 15px;
}

.quote-text {
    font-size: 13px;
}

.foot {
    float: left;
}
.my-link {
    font-style: italic;
    font-family: Times, Times New Roman, serif;
}

.my-link:link {
    color: red;
}

.my-link:visited {
    color: darkred;
}

.my-link:hover {
    color: mediumvioletred;
}

.my-link:active {
    color: palevioletred;
}

.logo {
    float: right;
    width: 80px;
    border-style: solid;
    border-color: black;
    background-color: ghostwhite;
    border-radius: 40px;
    border-width: 3px;
    padding: 15px;
    box-shadow: 7px 7px 5px grey;
}

.my-span {
    color: blue;
}

.copy {
    font-size: 20px;
    color: darkolivegreen;
    text-shadow: 2px 2px 2px gray;
}