body {
    background-color: #eee;
    padding: 0;
    padding-top: 50px;
    margin: 0;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

main p {
    font-size: 13pt;
}

h1, h2, h3, h4, h5, h6, h7, footer p {
    font-family: 'Open Sans', sans-serif;
}

abbr {
    text-decoration: underline;
}

.main_nav {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    display: block;
    background-color: #2a2a2a;
    z-index: 10;
    list-style-type: none;
}

.main_nav a {
    display: block;
    color: #cacaca;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
}

.main_nav a:hover {
    color: white;
}

.main_nav li {
    float: left;
}

main {
    margin: 50px;
    text-align: justify;
    align-content: center;
    min-width: 500px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin: 50px;
    align-content: center;
    min-width: 400px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

main h1 {
    text-align: center;
    font-size: 27pt;
    padding-top: 20px;
    padding-bottom: 10px;
}

main h2 {
    font-size: 20pt;
}

#quote {
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    min-width: 400px;
    width: 50%;
    margin-left: auto;
    margin-right: 10px;
}

#quote h5 {
    text-align: right;
    font-size: 10pt;
}

.technology {
    font-style: oblique;
}

footer {
    background-color: #2a2a2a;
    color: #cacaca;
    font-size: 11pt;
    margin: 0;
    width: 100%;
    bottom: 0;
}

#dfooter {
    padding: 5px;
    padding-left: 50px;
}

address {
    font-style: normal;
}

footer a {
    color: #eee;
    text-decoration: none;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.65;
}

#par1 {
    background-image: url("img/par1.jpg");
    min-height: 450px;
}

#par2 {
    background-image: url("img/par2.jpg");
    min-height: 650px;
}

hr {
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: gray
}