* {
  box-sizing: border-box; 
}

body {
  margin: 0; 
  font-weight: 500;
  font-family: 'HelveticaNeue';
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: black;
}

nav a:hover {
  background-color: #FFCC4D;
  color: black;
}

section {
   width: 100%;
   padding: 0 7%;
   display: table;
   margin: 0;
   max-width: none;
   height: 100vh;
}

#page1 {
    background-image: url("https://i.imgur.com/yw4hlST.jpg");
    background-size: cover; 
}

#page2 {
    background-color: #FFCC4D;
}

#page3 {
    background-color: #F4900C;
    color : white;
}

.p1 {
    display: table-cell;
    vertical-align: middle;
}

.table {
    display: table;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    padding: 100px;
    vertical-align: middle;
}

h1 {
  font-size: 50px;
  display: block;
  color: black;
  font-weight: 600;
}

h2 {
  font-size: 45px;
  font-weight: 500;
}

p {
  font-size: 30px;
  font-weight: 300;
}

a {
  color: black;
}

footer {
    background-color: #000000;
    padding: 50px;
    margin: 0;
    color: white;
}

footer ul li {
    list-style: none;
}

footer span {
  font-size: 20px;
}

footer a {
  color: white;
  font-size: 20px;
}

footer a:hover {
  color: #FFCC4D;
}
