body {
	background: url(../images/background.png) no-repeat fixed;
	background-size: 100%;
	overflow-y: scroll;
}

.text-container {
	font-family: Helvetica,Arial,sans-serif;
	text-align: right;
	font-weight: 100;
}

h1 {
	font-size: 50px;
	font-weight: 600;
	margin-bottom: 30px;
}

h2 {
	font-size: 30px;
	font-weight: 500;
}

.paragraph-heading span {
	display: inline-block;
}

.paragraph-heading span:first-letter {
	color: #137d9f;
}

p {
    font-size: 18px;
    line-height: 1.35;
    font-weight: 300;
    text-align: justify;
    padding-bottom: 3px;
}

#p-before-ul {
    margin-bottom: 10px;
}

b {
	font-size: 17px;
}

blockquote {
	font-size: 19px;
	padding: 1px auto;
	font-style: italic;
}

article {
	display: flow-root;
	padding-right: 10px;
}

#article-content {
	width: 61%;
	float: right;
	text-align: left;
}

hr {
	margin: auto 50px;
	border-top: 0 solid black;
}

footer {
	margin-top: 10px;
	text-align: center;
	font-family: Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-size: 12px;
}

a {
	margin-left: 5px;
	padding-right: 5px;
}

a:visited {
	color: purple;
}

a:hover {
	color: darkcyan;
}

abbr {
	text-decoration: none !important;
	border-bottom: 2px dotted;
}

abbr:hover {
	font-weight: 500;
}

li {
	line-height: 1.4;
}

ul {
    margin-top: 0;
    padding-bottom: 3px;
}

address {
	display: inline-block;
	font-style: normal;
}

#date {
	margin-top: 4px;
	display: inline-block;
}

section {
	padding: 0 10px;
}

.paragraph:hover {
	background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 2s;
}

.noshade {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgb(128, 128, 128);
	border-right-color: rgb(128, 128, 128);
	border-bottom-color: rgb(128, 128, 128);
	border-left-color: rgb(128, 128, 128);
	background-color: rgb(128, 128, 128);
}
