main {
    display: table;
    margin: auto;
    margin-bottom: 5px;
}

html {
    font-size: 93.75%;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #32353a;
    font-size: 20px;
    font-weight: 300;
    color: #b7bcbe;
    padding: 20px;
    font-family: "Roboto",sans-serif;
    line-height: 1.55;
    text-rendering: optimizeLegibility;
    -webkit-backface-visibility: hidden;
    overflow-x: hidden;
}

a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

a:hover {
    color: inherit;
    text-decoration: none;
}


p::first-line {
    font-style: italic;
}

p {
    margin-bottom: 30px;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}

h1 {
    font-size: 36px;
}

h2 {
    font-family: monospace;
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

.header {
    text-align: center;
    font-weight: lighter;
}

#main_header {
    font-weight: lighter;
    color: cadetblue;
}

.container {
    text-align: center;
    max-width: 900px;
    padding-right: 40px;
    padding-left: 40px;
}

.blog-item {
    background: #46494f;
    position: relative;
    @extned %clearfix;;padding: 20px;
    text-align: left;
    margin-bottom: 30px;
}

.blog-item h2 {
    color: #fff;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 35px;
}

.project-item {
    margin-left: 30px; 
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.project-item img {
    text-align: center;
}

.main-footer {
    border-top: 2px solid #46494f;
    border-bottom: 2px solid #46494f;
    padding: 30px 0 15px 0;
}

.main-footer .social li {
    display: inline-block;
    margin: 0 15px 15px 15px;
}

.main-footer .social li a {
    padding: 20px;
}

.main-footer .social li a:hover {
    background: #4e91c9;
    border-color: #4e91c9;
}

.copyright {
    margin-top: 30px;
    margin-bottom: 20px;
}

.copyright p {
    margin-bottom: 10px;
    font-size: 12px;
}

.text-center {
  text-align: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(169,91,195,0.9);
    text-align: center;
    opacity: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.overlay h4 {
    font-size: 18px;
}

.overlay h4 a {
    color: #fff;
}

.project-item:hover .overlay {
    opacity: 1;
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}