#contacts {
    border: 1px solid black;
}

.title {
    font-family: serif;
    letter-spacing: 5px;
}

.paragraph:first-letter {
    color: crimson;
}

a:link {
    color: darkblue;
}

a:visited {
    color: green;
}

a:hover {
    color: crimson;
}

p::first-line {
    font-style: italic;
}

#name {
    font-style: italic;
}

#contacts_field {
    font-weight: bold;
}

.contacts_part {
    text-decoration: underline;
}

.main_text {
    border-bottom: 2px dashed green;
    font-size: large;
    margin-bottom: 50px;
}

#first {
    text-align: left;
    font-style: oblique;
    text-indent: 10px;
}

#second {
    text-align: right;
    font-style: italic;
}

#third {
    text-align: center;
}

#fourth {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}

#text-main {
    border: 3px solid blue;
    margin-bottom: 5px;
}

#pictures_main {
    border: 3px solid crimson;
}

.header {
    text-align: center;
    font-weight: lighter;
    font-family: monospace;
}

.header::first-letter {
    font-weight: bold;
    color: red;
}

#main_header {
    font-weight: lighter;
    color: cadetblue;
}

.title {
    font-size: x-large;
    font-style: oblique;
    font-family: monospace;
}

#final_list {
    font-family: common-ligatures serif;
    letter-spacing: 3px;
}

.pic {
    text-align: center;
}

.highlight {
    font-weight: bolder;
    font-size: large;
    font-family: monospace;
    background-color: beige;
}

.paragraph {
    margin-bottom: 10px;
}